{% extends "base.html" %} {% block content %}
<br />
<div class="jumbotron">
  <h1><img src="/static/img/flask.png" height="80px" /> Python & Flask Demo App</h1>

  <div class="lead">
    This is a simple web application written in Python and using Flask. It has been designed with cloud demos &amp;
    containers in mind. Demonstrating capabilities such as auto scaling, deployment to Kubernetes, or anytime
    you want something quick and lightweight to run & deploy.
  </div>
  <br />
</div>
{% endblock %}
